
.userFullName{
    font-family: "Cooper Black";
    font-weight: bold;
    font-size: x-large;
}

.userDetails {
    font-family: "Century Gothic";
    font-weight: bold;
    color: darkgray;
    font-size: medium;
}