.logoImage
{
    width: 5%;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
    /*background-color: red;*/
}

.home-body {
    background-color: #ededee;
}

.personOutlineTwoToneIcon {
    color: cornflowerblue;
}